* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #e6e6ff;
  text-align: center;
}

#header {
  padding: 0.4rem 2rem;
  text-align: right;
  background: #fefeff;
  color: black;
  font-size: 30px;
  position: relative;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#logout-form {
  display: flex;
  align-items: center;
}

#logout-btn {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: white;
  border: 1px solid #ccc; /* Light grey border */
  border-radius: 5px;
  cursor: pointer;
  background-color: #8789fe;
}

#logout-btn:hover {
  background-color: #686afd; /* Slightly darker grey on hover */
}

#logo {
  display: block;
  width: 100px;
}

/* ------------------------------------------ */
/* Main Content */

#main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  height: 100vh;
}

#form1-pass {
  width: 100%;
}

#pass-generate-box {
  width: fit-content;
  padding: 1.4rem 3rem;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 8px;
  background: #8789fe;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 4rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#generate-password-box {
  height: 8rem;
  width: 34rem;
  font-size: 2.4rem;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #f5f5f5;
  background: #fefeff;
}

#selection {
  text-align: left;
  background-color: #fefeff;
  border-radius: 8px;
  border: 1px solid grey;
  padding: 0.4rem;
}

.options {
  padding: 0.3rem;
}

input[type="checkbox"],
input[type="range"] {
  accent-color: #686afd;
}

#password-generate-btn {
  margin: 3rem;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.form1-btn {
  width: 10%;
  font-size: 1rem;
  padding: 0.6rem 0.8rem;
  color: black;
  border: 1px solid #ccc; /* Light grey border */
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
}

button:hover {
  background-color: #ddd; /* Slightly darker grey on hover */
}

.store-btn {
  background-color: #8789fe;
  color: white;
}

.store-btn:hover {
  background-color: #686afd;
}

.generate-btn {
  background-color: #fefeff;
  color: black;
}

.generate-btn:hover {
  background-color: #e6e6e6;
}

/* ----------------------------------------- */
/* Table */

table {
  width: 50%;
  background-color: #fefeff;
  border-collapse: collapse;
  border: 3px solid #686afd;
}

th,
td {
  border: 1px solid #686afd;
  padding: 0.8rem 0.3rem;
}

.th-password {
  width: 60%;
}

.editButton,
.deleteButton {
  background-color: #fefeff;
  text-transform: uppercase;
  padding: 0.5rem 0.7rem;
  cursor: pointer;
  border: 1px solid gray;
  border-radius: 5px;
}

footer {
  background-color: #fefeff;
  color: black;
  text-align: left;
  padding: 12px 10px;
  margin-top: 2rem;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* -------------------------------------------- */
/* Pop-up */
.pop-up-edit,
.pop-up-delete {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgb(190, 190, 190);
  border-radius: 5px;
  z-index: 200;
  /* background: rgb(180, 180, 180); */
  background: #8789fe;
  width: 25%;
  height: 25%;
  padding: 0.4rem;
  justify-content: center;
  align-items: center;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: auto;
  z-index: 100;
}

.active {
  display: flex;
}

#password-box-value,
#delete-box-value {
  width: 22rem;
  height: 5rem;
  text-align: center;
  font-size: 1.4rem;
  margin: 1rem 0;
  border-radius: 5px;
  background-color: white;
  border: none;
}

#form2-edit,
#form3-delete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-box {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.form2-btn,
.form3-btn {
  width: 6rem;
  height: 2.5rem;
  border-radius: 5px;
  border: 1px solid #8f8f8f; /* Light grey border */
}

#delete-display {
  margin: 1rem;
  font-size: 1.2rem;
}

h3 {
  font-size: 1.4rem;
}
