* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Style the body */
body {
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(229, 229, 229);
  text-align: center;
}

/* Header/Logo Title */
.header {
  padding: 0.4rem 2rem;
  text-align: right;
  background: #fefeff;
  color: black;
  font-size: 30px;
  position: relative;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* Page Content */
.content {
  padding: 20px;
}

/* Style the form container */
.form-container {
  width: 14%;
  background: white;
  padding: 1.2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: inline-block;
  /* margin-top: 50px; */
}

/* Style the form */
form {
  text-align: left;
}

/* Style the input fields and button */
input[type="text"],
input[type="email"],
input[type="password"],
#sign-in-btn {
  display: block;
  width: 100%;
  padding: 10px;
  /* margin: 10px 0; */
}

/* Style the error messages */
.error {
  color: red;
  display: inline-block;
  margin-bottom: 1rem;
}

/* Style the buttons */
.header button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  /* background-color: #f1f1f1; Light grey */
  color: black;
  border: 1px solid #ccc; /* Light grey border */
  border-radius: 5px;
  cursor: pointer;
}

.header button:hover {
  background-color: #ddd; /* Slightly darker grey on hover */
}

.header button > a {
  text-decoration: none;
  color: black;
}

footer {
  background-color: #fefeff;
  color: black;
  text-align: left;
  padding: 12px 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 3rem;
  margin: 1rem 0;
}

.subtitle {
  font-size: 1.5rem;
  margin: 3rem 0;
}

#logo {
  display: block;
  width: 100px;
  /* height: 100px; */
  /* border: 1px solid black; */
  /* border-radius: 100px; */
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}
